body {
	
	font-family:Arial;
	background-color:#EBEBEB; 
	}
	
h1 {
	font-weight: bold;
	text-align: left;
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: 2.3em;
	line-height: 110%;
	text-shadow: 7px 7.0px 5px rgba(142, 139, 143, 0.7);
}
div#menu{
	position:		fixed;
	left:			0;
	right:			0;
	top:			0;
	width:			200px;
	min-height: 	100%;
	
	font-family:	Arial;
	
	border-right:	1px solid #aaa;	
	/*background-image:-webkit-gradient(linear, 0% 0%, 100% 0%, from(#2E2E2E), to(#595959), color-stop(.1,#212121));*/
	background-color:#2e2e2e; 
	background-image: -moz-linear-gradient(0deg, #2e2e2e, #212121 20px,#595959 200px); 
	background-image: -webkit-linear-gradient(0deg, #2e2e2e, #212121 20px,#595959 200px); 
	background-image: -o-linear-gradient(0deg, #2e2e2e, #212121 20px,#595959 200px); 
	background-image: -ms-linear-gradient(0deg, #2e2e2e, #212121 20px,#595959 200px); 
	background-image:linear-gradient(0deg, #2e2e2e, #212121 20px,#595959 200px);
}


div#right {
	position:		absolute;
	left:			200px;
	top:			0px;
	width:			80%;
	min-height: 	100%;
	background-image:-webkit-gradient(linear, 0% 0%, 1% 0%, from(#595959), to(#EBEBEB));
	background-image:-moz-linear-gradient(0deg, #595959, #EBEBEB 10px);
	background-image:linear-gradient(0deg, #595959, #EBEBEB 10px);
}

div#body{
	position:	relative;
	left:		10px;
	top:		0px;
	height:		auto;
	
	width:		100%;
	padding-left:20px;
	
	padding-bottom:	20px;
	border-bottom: 1px solid #aaa;


}

div#sql_req{
	position:	relative;
	left:		10px;
	bottom:		10px;
	
	
	width:		auto;
	height:		auto;
	padding-left:20px;

}

div#footer{
	position:	fixed;
	right:		0px;
	bottom:		0px;

	height:		50px;
	width:		200px;

	font-size:	0.8em;
	overflow:	hidden;
}

div#debug{
	position:	fixed;
	right:		0px;
	bottom:		60px;
	
	height:		50px;
	width:		200px;
	
	border:1px solid black;
	font-size:	0.8em;
	overflow:	scroll;
}


#menu a{
	display: block;
	font-family:	Arial;
	font-size:		1.2em;
	color:			#E0E0E0;
	text-shadow:	4px 2px 3px #595959;

	width:9em;
	text-decoration:none;
	padding:0.2em 0.6em;
	border-left:1px solid white;
	
}

#menu a:hover {
	background-color:#757575;
}

#menu ul{

	width:100%;
	padding:0;
	margin-left:20px;
	list-style-type:none;

}
